@model IEnumerable<Submission>

<script>
    function ChangeState(state, id){
        var link = `/Submission/SetState?state=${state}&SubmissionId=${id}`;
        var data = {
            "stateString": state,
            "SubmissionId": id
        };
        $.post(`/Submission/SetState`, data).done(function() {
            $(`#submissionState_${id}`).text(state);
        });
    }
</script>
@{
    if(Model.Count() == 0)
    {
        <div>No submissions yet</div>
    }
    else
    {
        foreach(Submission submission in Model)
        {
            <div class="container rounded border" style="background-color: #fafafa;">
                <div class="row">
                    <div class="col-3">
                        <h4>@submission.Name</h4>
                        <small>Email: @submission.Email</small>
                    </div>
                    <div class="col-9">
                        @submission.Message
                    </div>
                </div>
                <div class="row" style="display: flex; justify-content: space-between;">
                    <a asp-action="DownloadCV" asp-controller="Post" asp-route-submissionID="@submission.Id" download><button class="btn btn-success">Download CV</button></a>
                    <div>
                        <div class="badge border" id="submissionState_@submission.Id">@submission.State</div>
                        <button onclick="ChangeState('@SubmissionState.Accepted', @submission.Id);" class="btn btn-success">Accept</button>
                        <button onclick="ChangeState('@SubmissionState.Reviewing', @submission.Id);" class="btn btn-info">Review</button>
                        <button onclick="ChangeState('@SubmissionState.Rejected', @submission.Id);" class="btn btn-danger">Reject</button>
                    </div>
                </div>
            </div>
        }
    }
}